{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.article_list'|trans }}
{% endblock %}

{% block body %}
    <main class="article-list">
        {% if pagination is defined and pagination.items|length %}
            {% for row in pagination.items|batch(3) %}
                <div class="row-index">
                    {% for article in row %}
                        <div class="col-index">
                            <div class="card-index">
{#                                <div class="image-container">#}
{#                                    <img class="image-index" src="{{ asset(images_directory~article.image) }}" alt="plchldr.co">#}
{#                                </div>#}
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <a href="{{ url('article_index', {'filters.category_id' : article.category.id}) }}" class="card-category" title="{{ article.category.name }}">
                                        {{ article.category.name }}
                                    </a>
                                    <a href="{{ url('article_show', {'id': article.id}) }}" class="button">{{ 'button_read'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        {% endif %}
    </main>
{% endblock  %}